.conteudo{
    background-color: #434343;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo h1{
    font-size: 60px;
    color: white;
    margin-top: 50px;
}
.conteudo p{
    font-size: 30px;
    color: white;
    margin: 50px;
}